# PYTHON

In [6]:
print("hello world")

hello world

In [1]:
print("noman")

noman

In [4]:
print(2 + 3)

5

# MULTILINE COMMENT

In [9]:
# comment 1
# comment 2
# comment 3

print(4 * 4)

16

# Variables and operators

In [16]:
# variables are case sensitive
# variable kabhi number se start nh hoga----- jaise 1@4 aise variable k name nh likh skte error ayga
x = 5
y = "noman"
print(x)
print(y)

5
noman

In [22]:
# single line me sare variable declare kar skte...
x , y , z = "mohammad", "noman", "siddiqui"

print(x)
print(y)
print(z)

mohammad
noman
siddiqui

In [24]:
a = "noman"
b = 3

print(a , b)

noman 3

In [28]:
a = 5
print(_A) # case sensitive hota h isiliye error arha hai

NameError: name '_A' is not defined

In [30]:
x = "python"
y = "is"
z = "amazing"


print(x,y,z)

print()

print(x)
print(y)
print(z)

python is amazing

python
is
amazing

# data types

In [33]:
# numeric -> integer and float
# dictionary'
# boolean
# set
# sequence type -> string , tuple and list

In [35]:
# integer
x = 2 
print(x)
print(type(x))

2
<class 'int'>

In [37]:
# floating type
y = 4.5
print(y)
print(type(y))

4.5
<class 'float'>

In [41]:
z = 2 + 5j

print(type(z))

<class 'complex'>

In [43]:
a = "noman siddiqui" # string
print(a)
print(type(a))

noman siddiqui
<class 'str'>

In [45]:
# list -> []
b = [1,2,3,4,5,6,7,8,9]
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [47]:
#tuple -> ()

c = (1,2,3,4,5,6,7,8,9)
print(c)
print(type(c))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [49]:
%whos  # isko use kiye to jitne b variable bnaye h aur jo jo type k bnaye h sb pta chal jyga

Variable               Type        Data/Info
--------------------------------------------
a                      str         noman siddiqui
b                      list        n=9
c                      tuple       n=9
dataframe_columns      function    <function dataframe_colum<...>ns at 0x000001FCED9FD760>
dataframe_hash         function    <function dataframe_hash at 0x000001FCEF097100>
dtypes_str             function    <function dtypes_str at 0x000001FCF00FA700>
get_dataframes         function    <function get_dataframes at 0x000001FCF0091080>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x000001FCED9FD4E0>
is_data_frame          function    <function is_data_frame at 0x000001FCED9FD580>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
x                      int         2
y                      float       4.5
z                      complex     (2+5j)

## operators

In [56]:
a = 3
b= 5
print(a + b) # addition
x = 3 + 6j
y = 4

print(x + y)

8
(7+6j)

In [60]:
# string concatanation

x = "noman"
y = "siddiqui"

print(x + " " + y)

noman siddiqui

In [62]:
# aise hi subtraction multiplication aur division kr lenge

In [64]:
#modulous operator

a = 10
b = 3

print(a % b)  # modulous ka mtlb divide krne k bad remainder kitna milta hai

1

In [66]:
# exponent

a = 9583835383
print(a**55)  # power nikalne k liye double asterix krke kar skte

965303762880904558906524848114289711430036209898666937906836739870125186311118592232601008303041471581230609883330659764308069876035507309447395377403022729597655412518075593413812614938979327061684368974351058841744036091345307045182339979260453503883233955317615026562206168250732663650556211178976059718139671290869326189512120651304831394889809631833360846008601711900398431848434987530585753114056571492227575823284008701551150955134959956300144158651011094495717863838977760412373356379593269433506288079858806411187626342259805963844258329607

In [70]:
# boolean

a = True
b = False

print (a and b)# and gate
print(a or b)

False
True