## 1. List -> denoted by []

In [3]:
## it is immutable

In [5]:
list = ["apple", "banana", "grapes"]
print(list)

['apple', 'banana', 'grapes']

In [7]:
print(list[0])

apple

In [9]:
print(type(list))

<class 'list'>

In [11]:
print(list[-3])

apple

In [13]:
## replacing and changing list

In [17]:
list = ["apple" , "banana" , "cherry" , "apple", "kela"]
print(list)

['apple', 'banana', 'cherry', 'apple', 'kela']

In [19]:
## data types

In [27]:
list1 = ["apple" , "banana" , "cherry" , "apple"]
list2 = [2,3,4]
list3 = [3.8 , 45.6 , 353.3]
list4 = [True , False]

print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'cherry', 'apple']
[2, 3, 4]
[3.8, 45.6, 353.3]
[True, False]

In [31]:
list5 = [12,45.6, True , "GOYAL"]
print(list5)

[12, 45.6, True, 'GOYAL']

In [33]:
list5 = [12,45.6, True , "GOYAL"]
print(len(list5))

4

In [35]:
## slicing

In [39]:
list = [23,34,32,5,6,4,24,24,56,6,88,44,23,33,424,4,4,24,244,245,90]
print(list[0:6])

[23, 34, 32, 5, 6, 4]

In [41]:
print(list[3:6])

[5, 6, 4]

In [45]:
list = [23,34,32,5,6,4,24,24,56,6,88,44,23,33,424,4,4,24,244,245,90]
print(list[0:20: 2])

[23, 32, 6, 24, 56, 88, 23, 424, 4, 244]

In [47]:
list = ["hiii" , "banana" , "kevlar"]
list[1] = "mango"
print(list)

['hiii', 'mango', 'kevlar']

In [49]:
list = [23,34,32,5,6,4,24,24,56,6,88,44,23,33,424,4,4,24,244,245,90]
list[4:8] = ["noman" , "siddiqui"]
print(list)

[23, 34, 32, 5, 'noman', 'siddiqui', 56, 6, 88, 44, 23, 33, 424, 4, 4, 24, 244, 245, 90]

In [51]:
list = [23,34,32,5,6,4,24,24,56,6,88,44,23,33,424,4,4,24,244,245,90]
list.append(-8)
print(list)

[23, 34, 32, 5, 6, 4, 24, 24, 56, 6, 88, 44, 23, 33, 424, 4, 4, 24, 244, 245, 90, -8]

In [55]:
list = [4,7,89,43,24,5,"paper", "pen", 45,67,8]
list.remove(45)
print(list)

[4, 7, 89, 43, 24, 5, 'paper', 'pen', 67, 8]

In [57]:
list = [4,7,89,43,24,5,"paper", "pen", 45,67,8]
list.reverse()
print(list)

[8, 67, 45, 'pen', 'paper', 5, 24, 43, 89, 7, 4]

In [69]:
list = [23,34,32,5,6,4,24,24,56,6,88,44,23,33,424,4,4,24,244,245,90]
print(len(list))
sum = 0
for i in range(21):
    sum = sum + list[i]
    i = i+1

print(sum)

21
1437

In [73]:
list = [23,34,32,5,6,4,24,24,56,6,88,44,23,33,424,4,4,24,244,245,90]
print(len(list))
mul = 1
for i in range(21):
    mul = mul * list[i]
    i=i+1
print(mul)

21
1496140446872254650827931648000

## 2. Tuples

In [5]:
## used to store mnultiple items in single variable
## all same as list but only difference is w can not change the elemnts
## denoted by -> ()

In [7]:
tuple = (1,2,4)
print(tuple)

(1, 2, 4)

In [9]:
print(type(tuple))

<class 'tuple'>

In [13]:
tp = (1,"hii", 23.6, 6-7j)
print(tp)
print(type(tp))

(1, 'hii', 23.6, (6-7j))
<class 'tuple'>

In [15]:
## empty tuple
emp_tp = ()
print(emp_tp)

()

## nested tuple

In [20]:
a = (1, "data", [56.7,8, 5-7j], (5,6,7))
print(a)
print(type(a))

(1, 'data', [56.7, 8, (5-7j)], (5, 6, 7))
<class 'tuple'>

## creating single tuple

In [23]:
var1 = ("hello")
print(var1)
print(type(var1))

hello
<class 'str'>

In [27]:
var2 = ("hello" , ) ## srf comma se separate kar diye to tuple ban jaata hai
print(var2)
print(type(var2))

('hello',)
<class 'tuple'>

## tuple constructor

In [3]:
tp = tuple(("a", "b", "c"))
print(tp)
print(type(tp))

('a', 'b', 'c')
<class 'tuple'>

## indexing in tuple

In [6]:
tup = (34,56,78,53,67,42,6,543)
print(tup)
print(tup[4])
print(tup[-2])

(34, 56, 78, 53, 67, 42, 6, 543)
67
6

## slicing

In [13]:
tp = (1, "data", [56.7,8, 5-7j], (5,6,7) , 6)
print(len(tp))
print(tp[2:4])

5
([56.7, 8, (5-7j)], (5, 6, 7))

In [15]:
tp = (1, "data", [56.7,8, 5-7j], (5,6,7) , 6)
print(len(tp))
print(tp[2:])

5
([56.7, 8, (5-7j)], (5, 6, 7), 6)

In [17]:
tp = (1, "data", [56.7,8, 5-7j], (5,6,7) , 6)
print(len(tp))
print(tp[::2])

5
(1, [56.7, 8, (5-7j)], 6)

In [21]:
tp = (1, "data", [56.7,8, 5-7j], (5,6,7) , 6)
print(len(tp))
print(tp[::-1])

5
(6, (5, 6, 7), [56.7, 8, (5-7j)], 'data', 1)

In [23]:
tp = (1, "data", [56.7,8, 5-7j], (5,6,7) , 6)
print(len(tp))
print(tp[::])

5
(1, 'data', [56.7, 8, (5-7j)], (5, 6, 7), 6)

In [25]:
tp = (1, "data", [56.7,8, 5-7j], (5,6,7) , 6)
print(len(tp))
print(tp[:4])

5
(1, 'data', [56.7, 8, (5-7j)], (5, 6, 7))

In [28]:
tup = (5,6,7,8,90)
x = list(tup)
x.append(34)
tup = tuple(x)
print(tup)

(5, 6, 7, 8, 90, 34)

In [30]:
tup = (5,6,7,8,90)
tup.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
tup = (5,6,7,8,90 , 34)
x = list(tup)
x.remove(34)
tup = tuple(x)
print(tup)

(5, 6, 7, 8, 90)

## loops in tuples

In [37]:
tuples = (5,6,7,8,90 , 34)

for x in tuples:
    print(x)

5
6
7
8
90
34

In [39]:
tp1 = ("noman", "appple" , "khayga")
tp2 = ("but ", "ham khane", "nh denge")
tup3 = tp1 + tp2
print(tup3)

('noman', 'appple', 'khayga', 'but ', 'ham khane', 'nh denge')

In [41]:
tp1 = ("noman", "appple" , "khayga")
tp2 = tp1 * 2
print(tp2)

('noman', 'appple', 'khayga', 'noman', 'appple', 'khayga')

In [53]:
 tupl = print(tp1 + tp1 + tp1)

('noman', 'appple', 'khayga', 'noman', 'appple', 'khayga', 'noman', 'appple', 'khayga')

In [55]:
print(len(tupl))

TypeError: object of type 'NoneType' has no len()

In [49]:
print(len(tp1))

3
The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [75]:
elements = []
for x in range(5):
    print("enter elements for tuple" , x + 1)
    element = input()
    elements.append(element)
tup =tuple(elements)
print(tup)

enter elements for tuple 1

 3

enter elements for tuple 2

 4

enter elements for tuple 3

 5

enter elements for tuple 4

 7

enter elements for tuple 5

 4

('3', '4', '5', '7', '4')

## 3. dictionary

In [84]:
  # mutable
# no duplicates allowed
# key: value

In [86]:
d1 = {
    "ID": "233KB",
    "color" : "red",
    "year": "2025"
}

In [88]:
print(d1)

{'ID': '233KB', 'color': 'red', 'year': '2025'}

In [92]:
print(type(d1))

<class 'dict'>

In [94]:
print(d1["year"])

2025

In [100]:
## duplicates not alllowed
d1 = {
    "ID": "233KB",
    "color" : "red",
    "year": "2025",
    "year" : "2013"
    
}
print(d1)

{'ID': '233KB', 'color': 'red', 'year': '2013'}

In [98]:
print(type(d1))

<class 'dict'>

In [102]:
print(len(d1))

3

In [104]:
di = {
    "ID": "233KB",
    "color" : "red",
    "year": "2025",
    'a' : [1,3,4,6,7,6],
    'tup' : (4.5,672,54.23),
    'c': False
}

print(di)

{'ID': '233KB', 'color': 'red', 'year': '2025', 'a': [1, 3, 4, 6, 7, 6], 'tup': (4.5, 672, 54.23), 'c': False}

In [110]:
## dict constructor
a = dict(name = "noman" , age = 21, country = "india")
print(a)
print(type(a))

{'name': 'noman', 'age': 21, 'country': 'india'}
<class 'dict'>

In [114]:
print(a["age"])

21

In [120]:
all_keys = a.keys()
#all_keys
print(all_keys)

dict_keys(['name', 'age', 'country'])

In [122]:
all_val = a.values()
print(all_val)

dict_values(['noman', 21, 'india'])

In [124]:
## changes and add in dictionary

In [126]:
dic = {
    "ID": "233KB",
    "color" : "red",
    "year": "2025",
    'a' : [1,3,4,6,7,6],
    'tup' : (4.5,672,54.23),
    'c': False
}

dic['year'] = 2002
print(dic)

{'ID': '233KB', 'color': 'red', 'year': 2002, 'a': [1, 3, 4, 6, 7, 6], 'tup': (4.5, 672, 54.23), 'c': False}

In [130]:
dict = {
    "ID": "233KB",
    "color" : "red",
    "year": "2025",
    'a' : [1,3,4,6,7,6],
    'tup' : (4.5,672,54.23),
    'c': False
}
dict.update({"email": "siddiquim@rknec.edu"})
print(dict)

{'ID': '233KB', 'color': 'red', 'year': '2025', 'a': [1, 3, 4, 6, 7, 6], 'tup': (4.5, 672, 54.23), 'c': False, 'email': 'siddiquim@rknec.edu'}

In [132]:
dict = {
    "ID": "233KB",
    "color" : "red",
    "year": "2025",
    'a' : [1,3,4,6,7,6],
    'tup' : (4.5,672,54.23),
    'c': False , 
    "gender" : "male"
}

dict.pop("gender")
print(dict)

{'ID': '233KB', 'color': 'red', 'year': '2025', 'a': [1, 3, 4, 6, 7, 6], 'tup': (4.5, 672, 54.23), 'c': False}

In [134]:
 ## concatanation in dictionary

In [138]:
d1 = {1:10, 2:20}
d2= {3:30, 4:40}
d3 = {5:50, 6:60}
d4 = {}
 
for i in d1 , d2 , d3 : d4.update(i)
print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [150]:
dict = {}
for x in range(1,16):
    dict[x] = x**2
    
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

## 4 .sets

In [2]:
s = {"animals" , "ball" , "cat"}
print(s)
print(type(s))

{'animals', 'cat', 'ball'}
<class 'set'>

In [4]:
## set are unorderd...indexing nh hoti

In [6]:
## duplicates not allowed
## true and 1 are same

In [8]:
s = {"animals" , "ball" , "cat" , "kon" , 2, 54,56.8}
print(s)
print(len(s))

{'animals', 2, 'ball', 'kon', 54, 56.8, 'cat'}
7

In [10]:
x1 = {1,2,3,4}
x2 = {1.2,3.4,5.6}
x3 = {"a", "b" , "c"}
x4 = {True , False , False}f
print(x1,x2,x3,x4)

{1, 2, 3, 4} {1.2, 3.4, 5.6} {'b', 'c', 'a'} {False, True}

In [12]:
## list aur dictionary me nh use kar skte sets ko but tuple me kar skte

In [14]:
s1 = {{1,2,3}, {1,23,43}}
print(s1) ## error ayaga

TypeError: unhashable type: 'set'

In [16]:
## set constructor

In [20]:
my_set = set({"alpha" , "beta" , "gama"})
print(my_set)
print(type(my_set))

{'alpha', 'gama', 'beta'}
<class 'set'>

In [22]:
empty = set()
print(empty)
print(type(empty))

set()
<class 'set'>

In [24]:
empty1 = set()
print(empty)
print(type(empty))

set()
<class 'set'>

In [26]:
empty = set()
print(empty)
print(type(empty))

set()
<class 'set'>

In [28]:
#3 lopps

In [30]:
##accesssing elemets in sets

In [32]:
## how to access elements in sets

In [38]:
s = {"a" , "b" , "c" , "d"}
for x in s:
    print(x)

b
c
a
d

In [40]:
## to check whether items are available in set or not

s = {"a" , "b" , "c" , "d"}
print("c" in s)

True

In [52]:
## adding and deleting items
s = {"a" , "b" , "c" , "d"}
s.add("r")
print(s)

s.remove("b")
print(s)

{'c', 'r', 'b', 'd', 'a'}
{'c', 'r', 'd', 'a'}

In [48]:
x = {"data", "python" , "code"}
y = {12,45,6,74,352,5,34}
print(y)
y.update(x)
print(x)
print(y)

{352, 34, 5, 6, 74, 12, 45}
{'python', 'code', 'data'}
{352, 34, 5, 6, 'code', 74, 'python', 12, 45, 'data'}

In [58]:
##pop random remove krega
y = {12,45,6,74,352,5,34}
print(y)
m= y.pop()
print(m)

{352, 34, 5, 6, 74, 12, 45}
352

In [64]:
## clear pura remove krne k liye use krenge
y = {12,45,6,74,352,5,34}
3##print(y)
y.clear()
print(y)

set()

In [66]:
## join two sets
y = {12,45,6,74,352,5,34}
s = {"a" , "b" , "c" , "d"}
z = y.union(x)
print(z)

{352, 34, 5, 6, 'code', 74, 'python', 12, 45, 'data'}

In [68]:
## max(), min()

In [70]:
## returning intersection means common in both sets

In [74]:
set1 = {12,34,5,632,32,43}
set2 = {23,34,632,43,65,34,32,2}
print(set2.intersection(set1))

{32, 34, 43, 632}

In [102]:
##assignments
set1 = {2,3,45,46,554,655,1,-1}
print(set1)
print("length of this set is: " ,len(set1))
print("max of this set is: " ,  max(set1))
print("min of this set is: " , min(set1))

## converting this to tuple:
tup = tuple(set1)
print("converted to tuple" , tup)
print(type(tup))

{1, 2, 3, 554, 45, 46, 655, -1}
length of this set is:  8
max of this set is:  655
min of this set is:  -1
converted to tuple (1, 2, 3, 554, 45, 46, 655, -1)
<class 'tuple'>