## Loops concept

# while loop

In [4]:
# 1 to 5 numbers to display
i = 1
n = 5

while i <=n:
    print(i)
    i = i+ 1

1
2
3
4
5

In [6]:
# table
i = 1
x = int(input("enter the number for table:"))
while i <= 10:
    print(x * i)
    i += 1
print("so this is  your multiplication table of" , x)

enter the number for table: 9

9
18
27
36
45
54
63
72
81
90
so this is  your multiplication table of 9

In [12]:
count = 0
i= 1
while count < 25:
    print( i , "hii")
    i = i+ 1
    count += 1

1 hii
2 hii
3 hii
4 hii
5 hii
6 hii
7 hii
8 hii
9 hii
10 hii
11 hii
12 hii
13 hii
14 hii
15 hii
16 hii
17 hii
18 hii
19 hii
20 hii
21 hii
22 hii
23 hii
24 hii
25 hii

In [14]:
# using else statement while loop
count = 0
i= 1
while count < 25:
    print( i , "hii")
    i = i+ 1
    count += 1
else:
    print("this is else block")

1 hii
2 hii
3 hii
4 hii
5 hii
6 hii
7 hii
8 hii
9 hii
10 hii
11 hii
12 hii
13 hii
14 hii
15 hii
16 hii
17 hii
18 hii
19 hii
20 hii
21 hii
22 hii
23 hii
24 hii
25 hii
this is else block

## for loop

In [25]:
fruits = ["apple" , "orange" , "bnana", "grapes"]
for x in fruits:
    print(x)

apple
orange
bnana
grapes

In [32]:
for x in "grapes":
    print(x)
    #print(x[i])

g
r
a
p
e
s

In [38]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [42]:
for x in range(3 , 25): # wo 3 liye to 3 se start ho jyga
    print(x)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24