# user defined function

In [2]:
# user defined function k liye "def" ka use krte hai phle

In [5]:
#function 1

def sum():
    a = 4
    b= 5
    n = a + b
    print(n)

In [7]:
sum()

9

In [9]:
# result of a student

def contact():
    print("contact Details...")
    print("Rcoem")
    print("Nagpur , Maharashtra")
    print("7420076205")
    print("siddiquim@rknec.edu")

In [17]:
for i in range(2):
    i = 1
    print("Student", i)
    name = input("enter your name")
    a = input("your makrs in Maths is - > ")
    b = input("your makrs in DAA is - > ")
    c = input("your makrs in ME is - > ")
    d = input("your makrs in EE is - > ")
    e = input("your makrs in OS is - > ")
    f = input("your makrs in SE is - > ")
    i = i + 1

    print()
    contact()
    i = i + 1

Student 1

enter your name Noman
your makrs in Maths is - >  12
your makrs in DAA is - >  14
your makrs in ME is - >  15
your makrs in EE is - >  15
your makrs in OS is - >  15
your makrs in SE is - >  16

contact Details...
Rcoem
Nagpur , Maharashtra
7420076205
siddiquim@rknec.edu
Student 1

enter your name kushagra
your makrs in Maths is - >  16
your makrs in DAA is - >  11
your makrs in ME is - >  17
your makrs in EE is - >  16
your makrs in OS is - >  16
your makrs in SE is - >  14

contact Details...
Rcoem
Nagpur , Maharashtra
7420076205
siddiquim@rknec.edu

## Arguments

In [21]:
## function k under values pass krna

def my_function(fName):
    print(fName , "Siddiqui")

In [33]:
my_function("Noman")
my_function("Lukman")

Noman Siddiqui
Lukman Siddiqui

In [35]:
def name_function(fname , lname):
    print(fname + " " + lname)

In [39]:
name_function("noman" , "siddiqui") # calling a function

noman siddiqui

In [67]:
# electricity bill 
def Electricity_Bill():
    if n <= 500:
        print("your bill is Rs" , n * 5)
    elif n > 500 and n <= 700:
        print("your bill is Rs.." , n * 10)
    elif n > 700 and n <= 1000:
        print("your bill is Rs " , n * 15)
    elif n > 1000 and n <= 1500:
        print("your bill is Rs " , n * 20)
    else:
        print("you have to pay 5000 rupess")

In [73]:
def instructions():
    print("the last date to pay your bill is 16 march")
    print("after 16 march you will have to pay 3rs extra per unit of charge")

In [77]:
for i in range(2):
    name = input("enter your name-> ")
    n = float(input("enter how much unit of electricity you have used-> "))
    print()

    Electricity_Bill()
    print()
    instructions()

enter your name->  NOMAN
enter how much unit of electricity you have used->  3456

you have to pay 5000 rupess

the last date to pay your bill is 16 march
after 16 march you will have to pay 3rs extra per unit of charge

enter your name->  LUKMAN
enter how much unit of electricity you have used->  355

your bill is Rs 1775.0

the last date to pay your bill is 16 march
after 16 march you will have to pay 3rs extra per unit of charge